
html{
  box-sizing: border-box;
}

*,*:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fff;
}

h1 {
  color:rgb(223, 137, 39)
  padding: 16px;
}

h2 {
  color:rgb(100, 0, 50)
}


.czerwony {
  color: red;
}

#szkolenie {
  background:yellow;
  padding: 16px;
}


section {
  padding: 16px;
}

footer {
  padding: 16px;
}




section a {
  color:orange
}

.my-article {
  color: hotpink;
}

.my-article p {
  background: #1460aa;
  color: #ffffff;
  padding: 16px;
}

#name {
  color:red;
}

.about {
  color: #a30041;
}

header {
}

.navigation {
  padding: 16px;
  background: blue;
} 

.navigation__link {
  color: white;
}

.section {
  background: #dcdcdc;
  margin-bottom: 16px;
}

.section__header {
  color: rgb(2, 91, 94)
}

.section__header--special {
color: tomato;
margin-left: 64px;
}