
html{
  box-sizing: border-box;
}

*,*:before, *:after {
  box-sizing: inherit;
}

body {
  background: #fefefe
}

h1 {
  color:rgb(223, 137, 39)
  padding: 16px;
}

h2 {
  color:rgb(100, 0, 50)
}


.czerwony {
  color: red;
}

#szkolenie {
  background:yellow;
  padding: 16px;
}


section {
  padding: 16px;
}

footer {
  padding: 16px;
}


a {
  color: inherit;
}

section a {
  color:orange
}

.my-article {
  color: hotpink;
}

.my-article p {
  background: #1460aa;
  color: #ffffff;
  padding: 16px;
}

#name {
  color:red;
}

.about {
  color: #a30041;
}

header {
  padding: 16px;
}

