body {
  background: #fefefe
}

h1 {
  color:rgb(223, 137, 39)
}

h2 {
  color:rgb(100, 0, 50)
  
}


.czerwony {
  color: red;
}

#szkolenie{
  background:yellow;
}



a {
  color: inherit;
}

section a {
  color:orange
}

.my-article {
  color: hotpink;
}

.my-article p {
  background: #1460aa;
  color: #ffffff;
}

#name {
  color:red;
}

.about {
  color: #a30041;
}